

.floaiting-cover a img,.floaiting-cover a video{
    position: relative;
    align-items: center;
    left: -1px;
    border-radius: 5px;
    bottom: 34px;
    width: 100%;
}

body{
	background: #060613;
	width: 94%;
	margin: auto;
	color: white;
	text-decoration: none;
}

h1 a{
	font-family: Fantasy;
	text-decoration: none;
	color: #02ffa1;
	width: 14%;
	padding: 5px;
	font-size: 2rem;
}

h1 {
    /* padding: 8px; */
    width: 13%;
    /* padding: 0px; */
    margin: 8px 0 8px;
}

.nav--menu {
    font-family: revert;
    width: 70%;
    align-items: center;
    color: #fff;
    margin: auto;
    padding: 2px;
    bottom: 51px;
    position: relative;
	font-size: 1.1rem;
}

ul{
	list-style: none;
}

nav li a{
	text-decoration: none;
	color: white;
	padding: 10px;
}
a:hover {
    color: #02ffa1;
}

.start {
    float: right;
    position: relative;
    bottom: 55px;
}


.title-selector {
    width: 75%;
    height: 70px;
}

.nav--menu {
    align-items: center;
    flex-wrap: initial;
}
.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    right: 20px;
}

.start a{
	text-decoration: none;
	border: solid white 0.1rem;
    padding: 5px;
    font-family: monospace;
    font-weight: bold;
}

.buton{
	border: solid white 3px !important;
    border-radius: 5px;
    color: white;
}

.bt{
	color: black;
    background: #ffff5e;
	border: solid #ffff5e 3px !important;
	border-radius: 5px;
}

.search-form{
	position: relative;
	left: 330px;
	width: 40%;
}

.search-form button {
    position: relative;
    float: right;
    color: white;
    border: solid white 0.1rem;
}

.search-form input {
    position: relative;
    width: 80%;
    height: 40px;
}

