body{
    background: #060613;
    margin: 0 2.5rem;
}

h1 a{
    font-family: Fantasy;
    text-decoration: none;
    color: #02ffa1;
    font-size: 30px;
    top: 5px;
    position: relative;
}

.nav--menu {
    font-family: revert;
    width: 70%;
    align-items: center;
    color: #fff;
    margin: auto;
    padding: 2px;
    bottom: 51px;
    position: relative;
	font-size: 1.1rem;
}

ul{
	list-style: none;
}

nav li a {
    text-decoration: none;
    color: white;
    padding: 10px;
    padding-left: 20px;
}

a:hover {
    color: #02ffa1;
}

.start{
    float: right;
    position: relative;
    bottom: 20px;
}

.title-selector {
    height: 40px;
}

.nav--menu {
    align-items: center;
    flex-wrap: initial;
}

.nav {
    position: relative;
    font-size: medium;
}

.start a{
	text-decoration: none;
	border: solid white 0.1rem;
    padding: 5px;
    font-weight: bold;
}

.buton{
	border: solid white 3px !important;
    border-radius: 5px;
    color: white;
}

.bt{
	color: black;
    background: #ffff5e;
	border: solid #ffff5e 3px !important;
	border-radius: 5px;
}

.friday{
    position: relative;
    left: 32%;
    bottom: 400px;
    float: left;
    width: 30%;
}

.oferta {
    position: relative;
    text-align: center;
    bottom: 330px;
    color: white;
    font-family: fantasy;
    font-size: 2.9rem;
}

.portadas{
	text-decoration: none;
}

.mUp{
    position: relative;
    margin-top: 1.5rem;
    color: #fff;
}